#submit,
#data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 300px;
  display: none;
}

.form-container {
  display: flex;
}

#password-requirements {
  display: none;
}

.green-box {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: red;
}

li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
